{% extends 'base.html' %}
{% block title %}SHEN MATERIALS About 关于申材 {% endblock %}

{% block content %}
{% load static %}

    <section class="bg-dark py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="text-white">
                    <h1 class="display-5 mb-5 text-center">About Jiaxing Shen Yun New Materials  Co., Ltd</h1>
                   <p>
                    Welcome to Jiaxing Shen Yun New Materials Co., Ltd's About page! We are thrilled to introduce ourselves to you and share our passion for cutting-edge materials that redefine possibilities. 
                    </p>
                    
                    </p>
                    At Jiaxing Shen Yun, we are dedicated to revolutionizing the world of fiber products. We specialize in the manufacturing and distribution of premium carbon fiber, basalt fiber, aramid fiber, and hybrid fiber solutions that empower industries to reach new heights of innovation and excellence.
                    </p>
                    <p>
                    Our commitment to excellence drives us to push boundaries and constantly explore the frontiers of material science. We pride ourselves on staying ahead of the curve, offering our customers the latest advancements in fiber technology. When you choose Jiaxing Shen Yun, you are choosing an industry leader that never settles for anything less than extraordinary.
                    </p>
                    <p>
                    What sets us apart is not just our exceptional products but also our unwavering dedication to quality and reliability. Our state-of-the-art manufacturing facilities and rigorous quality control processes ensure that every single fiber product we deliver exceeds the highest industry standards. We understand that your success depends on the integrity of our materials, and we take that responsibility seriously.
                    </p>
                    <p>
                    But it's not just about the products; it's about the impact we make together. We believe that every great product has a story, and we are here to help you tell yours. Our team of experienced professionals is ready to collaborate with you, providing personalized solutions to meet your unique needs. We value building strong partnerships with our clients, working closely with you to bring your vision to life.
                    </p>
                    <p>
                    Beyond our commitment to innovation and collaboration, we are also deeply committed to sustainability. We understand the importance of protecting our planet for future generations, and that's why we prioritize eco-friendly practices throughout our operations. By choosing Jiaxing Shen Yun, you are not only investing in exceptional fiber products but also supporting a company that is actively working to minimize its environmental footprint.
                    </p>
                    <p>
                    Thank you for taking the time to learn about Jiaxing Shen Yun New Materials Co., Ltd. We invite you to explore our website further, discover our exceptional product range, and get in touch with our friendly team. Let's embark on a journey together, where innovation, quality, and sustainability converge to shape a brighter future for industries worldwide.
                   </p>
                </div>
                <!-- <div class="col-md-4">
                    <img src="assets/img/about-hero.svg" alt="About Hero">
                </div> -->
            </div>
        </div>
    </section>
    <!-- Close Banner -->

    <!-- Start Section -->
    <section class="container py-5">
        <div class="row">
            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                    <h2 class="h5 mt-4 text-center">Delivery Services</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
                    <h2 class="h5 mt-4 text-center">Shipping & Return</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
                    <h2 class="h5 mt-4 text-center">Quality Products</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                    <h2 class="h5 mt-4 text-center">24 Hours Service</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="container py-5">
        <div class="row">
            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-building fa-lg" aria-hidden="true"></i></div>
                    <h2 class="h5 mt-4 text-center"><span class="h2">14</span> Years</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fas fa-grip-horizontal"></i></div>
                    <h2 class="h5 mt-4 text-center"><span class="h2">50000</span><br>Manufacturing Base <sub>m</sub><sup>2</sup></h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
                    <h2 class="h5 mt-4 text-center"><span class="h2">1700</span><br>Annual productivity (Ton)</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                    <h2 class="h5 mt-4 text-center"><span class="h2">320</span> Employees</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->


    {% endblock %}

    {% block script %}
    {{block.super }}
    <script src="{% static 'store/js/templatemo.js' %}"></script>
    <script src="{% static 'store/js/custom.js' %}"></script>
    {% endblock %}
    
    